<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">
                    Debating if you should buy a tool or rent it for your next project because the rental cost is so high? 
                </p>
                <p class="text-faded">
                    Tooli makes that decision easier. Buy the tool and turn it into an income producing asset or rent it from someone local in your network for a fraction of the cost. It’s a win-win for everyone!
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
