<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to Start Saving and Making Money. Signup now to receive more info for the official launch. Rent your first tool free for a day*.
                </p>
                
                <h3>Tooli Inc.</h3>
                
                <h4>48 Albert Ave.</h4>
                <h4>Toronto, ON, M8V 2L7</h4>
                
                <h5>P. 416-522-5490 E. info@tooli.io</h5>
                
                <br>
                <br>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">
            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
            <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
