<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to Tooli</h1>
            <hr>
            <p>Debating if you should buy a tool or rent it for your next project because the rental cost is so high? </p>

            <p>Tooli makes that decision easier. Buy the tool and turn it into an income producing asset or rent it from someone local in your network for a fraction of the cost. It’s a win-win for everyone!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
