<!--iframe width="853" height="480" src="https://www.youtube.com/embed/eLmbl0yQEbE?rel=0&amp;controls=1&amp;showinfo=0" 			frameborder="0" allowfullscreen></iframe-->


<header>




    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>We are <strong>launching</strong> soon.</h1>
                        <h2>Rent your first tool free for a day*</h2>

                        <div class="form-inline">
                            <div class="form-group">
                                <input type="email" size="25" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                            <button id="requestInvite" type="submit" class="btn btn-default">Request an invite</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup" data-device="iphone6_plus" data-orientation="portrait" data-color="white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <a href="http://www.youtube.com/watch?v=eLmbl0yQEbE" data-lity>
                                	<img src="/img/header-screenshot.png" class="img-responsive img-hoverable" alt="">
                                </a>
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>