<section class="no-padding" id="portfolio">
    <div class="container">
        
        <h3>Rent out your tools</h3>
        <div id="portfolio-lend" class="row no-gutter">
            <div class="col-sm-6 col-desc">
                <ul>
                    <li>
                        <div class="number">1</div>
                        <h4>Create an account</h4> 
                        <span>Simply login through Google or e-mail to get started. Setup a profile so we know how to get money to you.</span>
                    </li>
                    <li class="">
                        <div class="number">2</div>
                        <h4>List your tools</h4>
                        <span>List all your tools that you’d like to rent. Provide the required details and use the app to take a picture of your tool. Rent it out for the price you want.</span>
                    </li>
                    <li class="">
                        <div class="number">3</div>
                        <h4>Manage bookings</h4>
                        <span>If you need the tool for yourself or it’s not available, simply mark on the calendar when it’s not available. Have all your bookings in an easy to update format.</span>
                    </li>
                    <li class="">
                        <div class="number">4</div>
                        <h4>Review the borrower</h4>
                        <span>Your tools have been treated with love. Make sure the person renting them does the same by reviewing the borrower. Just to make sure though, your tools are also fully insured.</span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 screenshots">
                <img src="img/screenshots/login.png" class="img-responsive" alt=""> 
                <img src="img/screenshots/add.png" class="img-responsive" alt=""> 
                <img src="img/screenshots/home_borrowed.png" class="img-responsive" alt=""> 
                <img src="img/screenshots/review.png" class="img-responsive" alt=""> 
            </div>
        </div>




        <h3>Borrow any tool</h3>
        <div id="portfolio-borrow" class="row row-alt no-gutter">

            <div class="col-sm-6 screenshots">
                <img src="img/screenshots/categories.png" class="img-responsive" alt=""> 
                <img src="img/screenshots/list.png" class="img-responsive" alt=""> 
                <img src="img/screenshots/view.png" class="img-responsive" alt=""> 
                <img src="img/screenshots/book.png" class="img-responsive" alt=""> 
            </div>

            <div class="col-sm-6 col-desc">
                <ul>
                    <li>
                        <div class="number">1</div>
                        <h4>Select the category</h4>
                        <span>Pick the appropriate category for the type of project you’re working on.</span>
                    </li>
                    <li class="">
                        <div class="number">2</div>
                        <h4>Select the tool</h4>
                        <span>Find the right tool, at the right price at the right location convenient for you..</span>
                    </li>
                    <li class="">
                        <div class="number">3</div>
                        <h4>Read details and reviews</h4>
                        <span>Read the details of the tool to make sure it’s appropriate for what you need. Read past reviews to ensure other have had a good experience with that exact tool.</span>
                    </li>
                    <li class="">
                        <div class="number">4</div>
                        <h4>Book the tool</h4>
                        <span>Contact the tool owner with any other questions and confirm a pickup location for the tool. Book the tool and it’s ready to be used.</span>
                    </li>
                </ul>
            </div>
        </div>



    </div>
</section>