<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        
        <div class="row no-gutter">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <img src="img/screenshots/login.png" class="img-responsive" alt=""> 
            </div>
        </div>

        <div class="row row-alt no-gutter">
            <div class="col-sm-6">
                <img src="img/screenshots/categories.png" class="img-responsive" alt=""> 
            </div>
            <div class="col-sm-6"></div>
        </div>

        <div class="row no-gutter">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <img src="img/screenshots/myaccount.png" class="img-responsive" alt=""> 
            </div>
        </div>


    </div>
</section>