<section class="no-padding" id="portfolio">
    <div class="container">
        
        <h3>Rent out yout tools</h3>
        <div id="portfolio-lend" class="row no-gutter">
            <div class="col-sm-6 col-desc">
                <ul>
                    <li>
                        <div class="number">1</div>
                        <h4>Create an account</h4> 
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                    </li>
                    <li class="">
                        <div class="number">2</div>
                        <h4>List your tools</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                    </li>
                    <li class="">
                        <div class="number">3</div>
                        <h4>Manage bookings</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                    </li>
                    <li class="">
                        <div class="number">4</div>
                        <h4>Review the borrower</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <img src="img/screenshots/login.png" class="img-responsive" alt=""> 
                <img src="img/screenshots/add.png" class="img-responsive" alt=""> 
                <img src="img/screenshots/home_borrowed.png" class="img-responsive" alt=""> 
                <img src="img/screenshots/review.png" class="img-responsive" alt=""> 
            </div>
        </div>




        <h3>Borrow any tool</h3>
        <div id="portfolio-borrow" class="row row-alt no-gutter">

            <div class="col-sm-6">
                <img src="img/screenshots/categories.png" class="img-responsive" alt=""> 
                <img src="img/screenshots/list.png" class="img-responsive" alt=""> 
                <img src="img/screenshots/view.png" class="img-responsive" alt=""> 
                <img src="img/screenshots/book.png" class="img-responsive" alt=""> 
            </div>

            <div class="col-sm-6 col-desc">
                <ul>
                    <li>
                        <div class="number">1</div>
                        <h4>Select the category</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                    </li>
                    <li class="">
                        <div class="number">2</div>
                        <h4>Select the tool</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                    </li>
                    <li class="">
                        <div class="number">3</div>
                        <h4>Read details and reviews</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                    </li>
                    <li class="">
                        <div class="number">4</div>
                        <h4>Book the tool</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                    </li>
                </ul>
            </div>
        </div>



    </div>
</section>