<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-accent"></i>
                    <h3>Lend</h3>
                    <p class="text-muted">
                     Earn as much as 10% of the value of your tool in just one day. It's risk free to have another source of income.
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-accent" data-wow-delay=".1s"></i>
                    <h3>Borrow</h3>
                    <p class="text-muted">You now have access to that tool for a fraction of the cost. Connect with a trusted source within your community to rent the tool from their collection at a price that is often more than half the price or traditional rental</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-university wow bounceIn text-accent" data-wow-delay=".2s"></i>
                    <h3>Save Money, Make Money</h3>
                    <p class="text-muted">Tooli gives you the opportunity to complete every job more efficiently and effectively so you can already start thinking about the next project.</p>
                </div>
            </div>
        </div>
    </div>
</section>
